soap/simple_calc/simple_calc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="my_dispatcher" targetNamespace="http://example.com/sample.wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/sample.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	
    
	<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
	

    
	<wsdl:types>
		
       
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://example.com/sample.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			
       
			<xsd:element name="Mul">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="a" type="xsd:int"/>
						<xsd:element name="b" type="xsd:int"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="MulResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="MulResult" type="xsd:int"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Add">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="a" type="xsd:int"/>
						<xsd:element name="b" type="xsd:int"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AddResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="AddResult" type="xsd:int"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Div">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="a" type="xsd:int"/>
						<xsd:element name="b" type="xsd:int"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="DivResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="DivResult" type="xsd:float"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="Sub">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="a" type="xsd:int"/>
						<xsd:element name="b" type="xsd:int"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SubResponse">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="SubResult" type="xsd:int"/>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		
    
	</wsdl:types>
	


	<wsdl:message name="MulInput">
		<wsdl:part element="tns:Mul" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="MulOutput">
		<wsdl:part element="tns:MulResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="AddInput">
		<wsdl:part element="tns:Add" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="AddOutput">
		<wsdl:part element="tns:AddResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="DivInput">
		<wsdl:part element="tns:Div" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="DivOutput">
		<wsdl:part element="tns:DivResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SubInput">
		<wsdl:part element="tns:Sub" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SubOutput">
		<wsdl:part element="tns:SubResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="my_dispatcherPortType">
		<wsdl:operation name="Mul">
			<wsdl:documentation>Multiply two numbers</wsdl:documentation>
			<wsdl:input message="tns:MulInput"/>
			<wsdl:output message="tns:MulOutput"/>
		</wsdl:operation>
		<wsdl:operation name="Add">
			<wsdl:documentation>Add two numbers</wsdl:documentation>
			<wsdl:input message="tns:AddInput"/>
			<wsdl:output message="tns:AddOutput"/>
		</wsdl:operation>
		<wsdl:operation name="Div">
			<wsdl:documentation>Divide two numbers</wsdl:documentation>
			<wsdl:input message="tns:DivInput"/>
			<wsdl:output message="tns:DivOutput"/>
		</wsdl:operation>
		<wsdl:operation name="Sub">
			<wsdl:documentation>Subtract two numbers</wsdl:documentation>
			<wsdl:input message="tns:SubInput"/>
			<wsdl:output message="tns:SubOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="my_dispatcherBinding" type="tns:my_dispatcherPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Mul">
			<soap:operation soapAction="http://localhost:8008/Mul" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Add">
			<soap:operation soapAction="http://localhost:8008/Add" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Div">
			<soap:operation soapAction="http://localhost:8008/Div" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Sub">
			<soap:operation soapAction="http://localhost:8008/Sub" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="my_dispatcherService">
		<wsdl:documentation></wsdl:documentation>
		<wsdl:port binding="tns:my_dispatcherBinding" name="my_dispatcher">
			<soap:address location="http://localhost:8008/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
